{
    "DATABASE_DRIVER"           : "goracle",
    "DATABASE_URL"              : "username/password@db_ip:port/sid",
    "LISTEN_PORT"               : "0.0.0.0:8080",
    "WRITETIMEOUTINSECONDS"     : 15,
    "READTIMEOUTINSECONDS"      : 15,
    "IDLETIMEOUTINSECONDS"      : 60,
    "JOBS_QUEUE_SIZE"           : 1000,
    "ERRS_QUEUE_SIZE"           : 100,
    "JOBS_WORKER_SIZE"          : 20
}